{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Cannot fill{% endblock %}
{% block content %}
    <h1 class="mt-5 alert alert-danger">Cannot fill order due to lack of units</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Blood type:</th>
            <th scope="col">Missing units:</th>
        </tr>
        </thead>
        <tbody>
        {% for reject_type in reject.rejecttype_set.all %}
            <tr>
                <th scope="row">{{ reject_type.blood_type }}</th>
                <td>{{ reject_type.units }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>No units were issued</p>
{% endblock %}