{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - MCI request complete{% endblock %}
{% block content %}
    <h1 class="mt-5 alert alert-success">MCI Request Complete</h1>

    <h2 class="mt-4">Request:</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Request ID:</th>
            <td>{{ mci_request.id }}</td>
        </tr>
        <tr>
            <th scope="row">Units</th>
            <td>{{ mci_request.units }}</td>
        </tr>
        <tr>
            <th scope="row">Distribution:</th>
            <td>{{ mci_request.distribution }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="mt-4">Issues:</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Issue number</th>
            <th scope="col">Donation ID</th>
            <th scope="col">Request Blood Type</th>
            <th scope="col">Blood Type</th>
            <th scope="col">Units</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in mci_request.issue_set.all %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.donation_id }}</td>
                <td>{{ issue.request_blood_type }}</td>
                <td>{{ issue.blood_type }}</td>
                <td>{{ issue.units }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}