{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Outstanding donations{% endblock %}
{% block content %}
    <h1 class="mt-5">Outstanding donations</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">DonationID</th>
            <th scope="col">Blood Type</th>
            <th scope="col">DonorID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Smoke</th>
            <th scope="col">Phone</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for out in current_page %}
            <tr>
                <th scope="row">{{ out.donation_id }}</th>
                <td>{{ out.blood_type }}</td>
                <td>{{ out.donation.donor.id }}</td>
                <td>{{ out.donation.donor.first_name }}</td>
                <td>{{ out.donation.donor.last_name }}</td>
                <td>{{ out.donation.donor.birthday }}</td>
                <td>{{ out.donation.donor.smoke|yesno }}</td>
                <td>{% if out.donation.donor.phone_number %}
                    {{ out.donation.donor.phone_number }}
                {% else %}
                    -
                {% endif %}</td>
                <td>{{ out.donation.donation_date }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if current_page.has_previous %}
                <a href="{% url "outstanding" page=1 %}">&laquo; first</a>
                <a href="{% url "outstanding" page=current_page.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ current_page.number }} of {{ pages.num_pages }}.
            </span>

            {% if current_page.has_next %}
                <a href="{% url "outstanding" page=current_page.next_page_number %}">next</a>
                <a href="{% url "outstanding" page=pages.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


{% endblock %}